Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/CityofBrass_Enmies
Content/EnvironmentPack2
Content/FXVarietyPack
Content/ParagonCountess
Content/ParagonGreystone
Content/ParagonMinions


